#footer{
    background: #002529;
}
.footer__content{
    height: 432px;
    padding-top: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__box1{
    margin-left: 165px;
}
.footer__minibox{
    display: flex;
    margin-top: 25px;
}
.footer__link+.footer__link{
    margin-left: 40px;
}
.footer__link{
    max-width: 49px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF; 
}
.footer__item-link{
    max-width: 166px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6; 
}
.footer__icons{
    display: flex;
    margin-bottom: 51px;
}
.footer__icon+.footer__icon{
    margin-left: 16px;
}
.footer__text{
    max-width: 255px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.6;  
}
@media only screen and (max-width:1200px){
    .footer__box-4{
        position: absolute;
        left: 39px;
        top: 350px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .footer__box1{
        margin-left: 39px;
    }
    .footer__link{
        max-width: 49px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF; 
    }
    .footer__item-link{
        max-width: 166px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6; 
    }
    .footer__icons{
        display: flex;
        margin: 0;
    }
    .footer__text{
        max-width: 255px;
        margin-left: auto;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        text-align: right;
        color: #FFFFFF;
        opacity: 0.6;  
    }
}
@media only screen and (max-width:610px){
    .footer__content{
        display: block;
    }
    .footer__img{
        max-width: 95px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }
    .footer__minibox{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
    }
    .footer__link{
        margin-right: auto;
        margin-left: auto;
    }
    .link8{
        margin-left: 24px;
    }
    .footer__item-link{
        max-width: 166px;
        margin-right: auto;
        margin-left: auto;
    }
    .footer__icons{
        margin-left: auto;
        margin-right: auto;
    }
    .footer__box-4{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .footer__text{
        max-width: 255px;
        margin-left: auto;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        text-align: right;
        color: #FFFFFF;
        opacity: 0.6;  
    }
}