
.head__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 73px;
    padding-bottom: 129px;
}
.head__img{
    margin-left: 165px;
    width: 159px;
    flex-shrink: 0;
}
.head__list{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;  
}

.head__item + .head__item{
    margin-left: 40px;
}
.head__link2{
    max-width: 153px;
    padding: 10px 32px ;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;   
}
.head__link3{
    display: none;
    flex-shrink: 0;
}

@media only screen and (max-width:767px){
    .head__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .head__img{
        margin-left: 24px;
    }
    .head__list{
        display: none;
    }
    .head__link2{
        display: none;
    }
    .head__link3{
        display: block;
    }
}