.hero__content{
    margin-bottom: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__tittle{
    margin-left: 165px;
    max-width: 555px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}
.hero__span{
    color: #F67E7E;
}
.hero__line{
    display: inline-block;
    width: 50px;
    border-top: 4px solid  #79C8C7;
    margin-bottom: 79px;
}
.hero__text{
    max-width: 445px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;  
}

@media only screen and (max-width:1140px){
    .hero__content{
        display: block;
    }
    .hero__tittle{
        max-width: 343px;
        font-size: 64px;
        line-height: 54px;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .hero__line{
        display: none;
    }
    .hero__text{
        max-width: 457px;
        margin: 0 auto;
    }
}
@media only screen and (max-width:768px){
    .hero__tittle{
        max-width: 211px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
        margin: 0 auto;
    }
    .hero__text{
        max-width: 327px;
        margin: 0 auto;
    }
}