#work{
    background: #012F34;
}
.work__content{
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.work__box{
    margin-left: 165px;
}
.work__tittle{
    max-width: 445px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;  
}
.work__line{
    max-width: 50px;
    display: block;
    border-top: 4px solid #F67E7E;
    margin-bottom: 54px;
}
.work__item-box{
    display: flex;
    align-items: center;
}
.work__item{
    margin-bottom: 32px;
}
.work__item-content{
    margin-left: 23px;
}
.work__item-tittle{
    max-width: 206px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;   
}
.work__item-text{
    max-width: 445px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;  
}


@media only screen and (max-width:1110px){
    .work__content{
        display: block;
    }
    .work__line{
        margin-bottom: 32px;
    }
    .work__tittle{
        max-width: 445px;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 64px;
    }
    .work__list{
        margin: 0 auto;
    }
    .work__item-box{
        display: flex;
        align-items: center;
    }
}
@media only screen and(max-width:768px){
    .work__tittle{
        max-width: 209px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin: 0 auto;
        margin-bottom: 56px;
    }
    .work__item-box{
        display: block;
        margin: 0 auto;
    }
    .work__img2{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }
    .work__item-tittle{
        max-width: 327px;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    .work__item-text{
        max-width: 327px;
        margin: 0 auto;
    }
}